<div id="one">


    <div class="menu">
        <a href="@Url.Action("Index","Home")">
            <div class="drop"></div>
            <img src="~/Content/Images/0hist.png" />
        </a>
    </div>

    <div class="menu">
        <a href="#">
            <div class="drop"></div>
            <img src="~/Content/Images/1hist.png" />
        </a>
    </div>

    <div class="menu">
        <div class="drop"></div>
        <img src="~/Content/Images/2hist.png" /> </a>
    </div>

    <div class="menu">
        <div class="drop"></div>
        <img src="~/Content/Images/3hist.png" /> </a>
    </div>

    <div class="menu">
        <div class="drop">
        </div><img src="~/Content/Images/4hist.png" /> </a>
    </div>

</div>